.searchContainer {
  padding: 0px 100px;
  min-width: 1280px;
  height: 1200px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.foodTitle {
  display: flex;
  width: 200px;
  padding: 10px 7px;
  margin-bottom: 30px;
  font-weight: bold;
  border: 1px solid #00a554;
  color: #ffffff;
  background: #00a554;
}

.foodDesc {
  display: flex;
  margin-bottom: 30px;
  max-width: 1200px;
  max-height: 600px;
}

.foodDesc > div > img {
  width: 300px;
  height: 300px;
}

.foodImgDesc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 40px;
}

.foodImgDesc > div > hr {
  width: 260px;
  border: 1px solid #00a554;
}

.foodImgDesc > p {
  min-height: 20px;
  max-width: 800px;
  min-width: 800px;
}

.foodImgDesc > span:nth-child(1) {
  display: block;
  min-height: 80px;
  max-width: 800px;
  min-width: 800px;
}

.likeSection {
  display: flex;
}

.likeSection > span {
  display: block;
  width: 120px;
  padding: 13px 7px;
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 16px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  background: #00a554;
  cursor: pointer;
}

.cookingDesc {
  display: flex;
  flex-direction: column;
  width: 1080px;
  height: 500px;
  border: 2px solid #00a554;
  border-radius: 16px;
}

.cookingDesc > p {
  margin-top: 30px;
  margin-left: 20px;
  width: 100px;
  padding: 10px 7px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #00a554;
  border-radius: 16px;
  color: #ffffff;
  background: #00a554;
}

.cookingDesc > span {
  width: 1020px;
  margin-left: 30px;
}

.cookingFirstDesc {
  height: 30px;
}

.cookingDesc > span:last-child {
  height: 230px;
}
