.footerContainer {
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  height: 230px;
  padding: 0px 100px;
  align-items: center;
  background: #00a554;

  position: relative;
  bottom: 0;
}

.addDescription {
  display: block;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 0px;
}

.footerImg {
  border-radius: 16px;
}