.talkContainer {
  padding: 0px 100px;
  min-width: 1280px;
  height: 850px;
}

.talkingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.talkingContainer > h3 {
  padding: 30px;
  font-weight: bold;
  font-size: 30px;
}

.photoForm {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 70px;
  height: 50px;
  width: 700px;
}

.prePhoto {
  position: absolute;
  top: 10%;
  left: 5%;
  color: #ffffff;
}

.prePhoto > span {
  display: block;
  position: absolute;
  font-weight: bold;
  font-size: 15px;
  top: -30%;
  left: 0%;
  color: #ffffff;
}

.prePhoto > img {
  border-radius: 20%;
}

.prePhoto > button {
  position: absolute;
  right: -25%;
  bottom: 0%;
  border: none;
  border-radius: 50%;
  padding: 5px;
}

.talkBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 700px;
  max-width: 700px;
  min-height: 500px;
  max-height: 500px;
  padding: 50px;
  border: 3px solid #01c466;
  border-radius: 16px;
  overflow-y: auto;
}

.talkBox > form {
  position: absolute;
  bottom: 0px;
  height: 100px;
  margin-top: 50px;
}

.photoForm .file {
  display: flex;
  align-items: center;
  width: 180px;
  height: 50px;
}

.photoForm .file > button {
  width: 100px;
}

.photoForm .text {
  width: 330px;
  height: 50px;
  padding: 10px;
  border-left: 2px solid  #02a154;
  border-top: 2px solid #02a154;
  border-bottom: 2px solid #02a154;
  border-right: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.photoForm .submit {
  width: 50px;
  height: 50px;
  padding: 0px;
  border-left: 0px;
  border-top: 2px solid #02a154;
  border-bottom: 2px solid #02a154;
  border-right: 2px solid #02a154;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;  
  transition: background 0.2s ease-in-out;
}

.photoForm .submit:hover {
  background: #02a154;
  color: #ffffff;

}

.photoTalk {
  display: flex;
  justify-content: flex-end;
  background: #00d06b;
  padding: 20px;
  width: 700px;
  border-radius: 10px;
}

.talkList {
  position: relative;
  width: 500px;
  height: 100px;
  padding: 20px;
  background: #01c466;
  margin: 10px;
  border-radius: 6px;
}

.talkList > p {
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  max-width: 250px;
  max-height: 50px;
  overflow-y: auto;
}

.editingText {
  width: 300px;
  height: 30px;
  border: none;
  padding-left: 10px;
  margin-top: 10px;
  margin-right: 8px;
  border-radius: 3px;
}

.editingOk {
  width: 40px;
  height: 30px;
  border: none;
  border-radius: 3px;
  margin-right: 3px;
  background: #ffffff;
  transition: background 0.2s ease-in-out;
}

.editingOk:hover {
  background: #02a154;
  color: #ffffff;
}

.editingCancel {
  width: 40px;
  height: 30px;
  border: none;
  border-radius: 3px;
  background: #ffffff;
  transition: background 0.2s ease-in-out;
}

.editingCancel:hover {
  background: #02a154;
  color: #ffffff;
}

.photoEditing {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 3%;
  top: 42%;
  transition: transform 0.3s ease-in-out;
}

.photoEditing:hover {
  transform: scale(2.5);
  z-index: 50;
}

.btnContainer {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 5px;
  margin-right: 5px;
}

.btnContainer > button {
  width: 30px;
  height: 30px;
  margin: 3px;
  border: 1px solid #01c466;
  background: #ffffff;
  border-radius: 6px;
  transition: background 0.2s ease-in-out;
}

.btnContainer > button:hover {
  background: #02a154;
  color: #ffffff;
}


