.headerContainer {
  display: flex;
  align-items: center;
  padding: 0px 100px;
  min-width: 1280px;
  height: 70px;
  background: #00a554;
  color: #ffffff;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.mainLogo {
  flex: 1;
  display: flex;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-right: 50px;
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 16px;
}

.logoContainer  > h2 {
  margin-right: 7px;
}

.headerUl {
  list-style: none;
  display: flex;
}

.headerUl > li {
  padding: 0px 20px;
}

.mypageUl {
  list-style: none;
  display: flex;
}

.mypageLi {
  padding: 0px 10px;
}


