.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 1280px;
  height: 700px;
}

.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 700px;
  height: 500px;
  margin: 0 auto;
  border: 3px solid #4ac388;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;;
  box-shadow: 0 25px 50px -12px #00000040;
}

.loginBox > button {
  position: absolute;
  top: -42px;
  left: -3px;
  width: 270px;
  border: none;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: bold;
  background: #00a554;
  color: #ffffff;
}

.loginBox > span {
  font-size: 17px;
  font-weight: bold;
  margin-right: 10px;
  color: #ffffff;
}

.idPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 30px 0px;
}

.idPassword > div {
  padding-bottom: 20px;
}

.idPassword > div > span {
  font-weight: bold;
  margin-right: 10px;
  color: #00a554;
}

.idPassword > div > input {
  display: flex;
  width: 220px;
  border: 2px solid #00a554;
  border-radius: 6px;
  padding: 5px 15px;
}

.idPassword > input {
  width: 220px;
  border: none;
  border-radius: 6px;
  padding: 10px 0px;
  margin-top: 15px;
  font-weight: bold;
  background: #00a554;
  color: #ffffff;
}

.snsLogin {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.snsLogin > span {
  font-size: 17px;
  font-weight: bold;
  margin-right: 10px;
  color: #00a554;
}

.googleLogin {
  font-size: 35px;
  padding: 5px;
  border: 1px solid #00a554;
  border-radius: 6px;
  background: #00a554;
  margin-right: 15px;
}