.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0px 100px;
  min-width: 1280px;
  height: 1000px;
}

.searchFood {
  display: flex;
  margin-top: 100px;
}

.searchFood > input {
  width: 500px;
  height: 60px;
  padding: 5px 10px;
  border: 2px solid #00a554;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-right: none;
}

.searchFood > button {
  width: 80px;
  border: 2px solid #00a554;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-left: none;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  background: #00a554;
  cursor: pointer;
}

.category {
  margin-top: 40px;
}

.category > ul {
  list-style: none;
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.category > ul > li {
  margin-bottom: 10px;
  width: 150px;
  padding: 13px 0px;
  border: 2px solid #00a554;
  border-radius: 16px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background: #00a554;
  cursor: pointer;
}


