.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0px 100px;
  min-width: 1280px;
  max-height: 1300px;
  min-height: 1130px;
  margin-top: 50px;
}

.searchFood {
  display: flex;
  margin-top: 100px;
  position: relative;
}

.searchUl {
  position: absolute;
  width: 500px;
  max-height: 250px;
  list-style: none;
  display: flex;
  flex-direction: column;
  z-index: 50;
  overflow-y: auto;
  top: 100%;
  margin-top: 10px;
  border: 2px solid #01c466;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1);
  overflow-y: auto;
}

.searchUl > li {
  padding: 15px 30px;
  transition: transform 0.2s ease-in-out;
}

.searchUl > li:last-child {
  border: none;
}

.searchUl > li:hover {
  transform: scale(1.03);
  color: #ffffff;
  background: #01c466;
}

.searchFood > input {
  width: 500px;
  height: 60px;
  padding: 5px 10px;
  border: 2px solid #01c466;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-right: none;
}

.searchFood > button {
  width: 80px;
  height: 60px;
  border: 2px solid #01c466;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  background: #01c466;
  cursor: pointer;
}

.searchFood > button:hover {
  border: 2px solid #027a40;
  background: #027a40;
}

.category > ul {
  list-style: none;
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.category > ul > li {
  margin-bottom: 10px;
  width: 150px;
  height: 200px;
  padding: 13px 0px;
  border-radius: 16px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background: #00a554;
  cursor: pointer;
  overflow-y: auto;
}

.category > ul > li > button {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background: #dfdede;
}

.foodFullContainer {
  margin-top: 100px;
}
