.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0px 100px;
  min-width: 1280px;
  height: 3000px;
}

.searchFood {
  display: flex;
  margin-top: 100px;
  position: relative;
}

.searchUl {
  position: absolute;
  width: 500px;
  max-height: 200px;
  list-style: none;
  display: flex;
  flex-direction: column;
  z-index: 50;
  overflow-y: auto;
  top: 100%;
  margin-top: 10px;
  border-radius: 16px;
  color: #ffffff;
  background:#dfdede;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1);
}

.searchUl > li {
  padding: 10px 5px;
  border-bottom: 1px dotted #ffffff;
}

.searchUl > li:last-child {
  border: none;
}

.searchFood > input {
  width: 500px;
  height: 60px;
  padding: 5px 10px;
  border: 2px solid #00a554;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-right: none;
}

.searchFood > button {
  width: 80px;
  border: 2px solid #00a554;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-left: none;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  background: #00a554;
  cursor: pointer;
}

.category {
  margin-top: 40px;
}

.category > ul {
  list-style: none;
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.category > ul > li {
  margin-bottom: 10px;
  width: 150px;
  height: 200px;
  padding: 13px 0px;
  border-radius: 16px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background: #00a554;
  cursor: pointer;
  overflow-y: auto;
}

.category > ul > li > button {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background: #dfdede;
}

.dropDownUl {
  list-style: none;
  margin-top: 10px;
}

.dropDownUl > li {
  padding: 10px 0px;
}

.dropDownUl > li:hover {
  color: #00a554;
  background: #dfdede;
}

.foodFullContainer {
  margin-top: 100px;
}

.foodFullContainer > span:first-child {
  display: block;
  width: 200px;
  padding: 10px 7px;
  font-weight: bold;
  border: 1px solid #00a554;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  color: #ffffff;
  background: #00a554;
  
}

.foodList {
  border: 3px solid #00a554;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 20px 20px 70px 20px;
}

.foodList > ul {
  list-style: none;
  min-width: 400px;
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  justify-items: center;
  grid-gap: 10px
}

.foodListLi {
  width: 250px;
  height: 250px;
  border: none;
}

.imgSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  border-bottom: 1px solid;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.imgSection > img {
  width: 250px;
  height: 220px;
  border: none;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.descSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  font-weight: bold;
  color: #ffffff;
  background: #00a554;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
