.myPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 150px;
  padding: 0px 100px;
  min-width: 1280px;
  min-height: 830px;
}

.myPageContainer > button {
  width: 210px;
  height: 70px;
  border: 2px solid #01c466;
  font-weight: bold;
  font-size: 18px;
  position: relative;
}

.myPageContainer > button:hover {
  border: 2px solid #01c466;
  background: #01c466;
  color: #ffffff;
}

.myPageContainer > .logOutBtn > button {
  width: 100px;
  height: 50px;
  background: #01c466;
  color: #ffffff;
}

.myPageContainer > .logOutBtn > button:hover {
  width: 100px;
  height: 50px;
  background: #00a554;
  color: #ffffff;
}

.logOutBtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.logOutBtn > button {
  width: 80px;
  height: 50px;
  border: none;
  border-radius: 10px;
}

.likeContainer {
  width: 1000px;
  min-height: 500px;
  max-height: 1000px;
  padding: 10px;
  border: 2px solid #01c466;
  border-radius: 16px;
  margin-top: 30px;
}

.likeBox {
  position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.likeBox > p {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.likeUl {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  list-style: none;
  padding: 20px;
  overflow-y: auto;
  max-height: 1000px;
}

.likeUl > li {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 300px;
  border: none;
  transition: transform 0.2s ease-in-out;
}

.likeUl > li:hover {
  transform: scale(1.05);
}

.likeUl > li:hover > p {
  background: #02a154;
}

.likeUl > li > img {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.likeUl > li > p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  background: #01c466;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.likeUl > li > img {
  width: 300px;
  height: 250px;
}

.likeIcon {
  position: absolute;
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 50%;
  color: red;
  background: #ffffff;
  top: 5%;
  right: 5%;
}