
.nutrientsContainer {
  padding: 0px 100px;
  height: 800px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;

}

.nutrientsContainer > h3 {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  margin-bottom: 70px;
  border: 3px solid #00a554;
  border-radius: 16px;
}

.imgContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 40px;
}

.Hover {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.onHover {
  width: 350px;
  height: 325px;
  border: 1px solid #00a554;
  border-radius: 16px;
  overflow-y: auto;
}

.onHover > p {
  width: 350px;
  height: 30px;
  padding: 5px 5px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  background: #01c466;
  margin-bottom: 5px;
}

.onHover > span {
  width: 350px;
  display: inline-block;
  line-height: 30px;
  padding: 0px 10px;
  word-break: break-all;
  white-space: pre-wrap;
}

.noHover > img {
  width: 350px;
  height: 250px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.noHover > span {
  width: 350px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  background: #01c466;
  color: #ffffff;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.Hover {
  position: relative;
}

.noHover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.onHover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.Hover:hover .noHover {
  opacity: 0;
}

.Hover:hover .onHover {
  opacity: 1;
}
