.searchContainer {
  padding: 0px 100px;
  min-width: 1280px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.foodTitle {
  display: flex;
  width: 200px;
  padding: 10px 7px;
  margin-bottom: 30px;
  font-weight: bold;
  border: 1px solid #00a554;
  color: #ffffff;
  background: #00a554;
}

.foodDesc {
  display: flex;
  margin-bottom: 30px;
}

.foodDesc > div > img {
  width: 300px;
  height: 300px;
}

.foodImgDesc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 40px;
}

.foodImgDesc > div > hr {
  width: 250px;
  border: 1px solid #00a554;
}

.likeSection {
  display: flex;
}

.likeSection > span {
  display: block;
  width: 120px;
  padding: 13px 7px;
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 16px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  background: #00a554;
  cursor: pointer;
}

