#root {
  /* margin: 0 auto; */
  --commonColor: #4ac388;
  --mainColor: #bcffe1;
}

body {
  font-family: 'Sunflower', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0px;
}

img {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}
